*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F5F5;
}

header.header{
    margin: 5px 0px 0px 140px;
    padding-bottom: 20%;
}
.circle{
    background-color: #ff473649;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}
.big{
    width: 1080px;
    height: 1080px;
    top: -65%;
    right: -22%;
}
.medium{
    width: 150px;
    height: 150px;
    left: -50px;
    bottom: -75px;
}
.small{
    width: 50px;
    height: 50px;
    bottom: 20px;
    left: 150px;
}
svg#back{
    position: absolute;
    width: 40%;
    height: auto;
    background-color: transparent;
    top: 11%;
    right: 134px;
}

.logo{
    margin: 18px 0 0 0;
    font-size: 18px;
    float: left;
}
.logo::before{
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    padding: 0 2px;
    background: center / contain no-repeat url('/img/logo.svg');
}


nav {
    float: right;
    margin: 20px 5px;
}
nav ul li{
    display: inline;
    font-weight: bold;
    text-decoration: none;   
}
nav ul li a{
    text-decoration: none;
    font-size: 14px;
    padding: 12px 35px; 
    margin: 0 16px;
    color: #000000;
}

nav ul li a.active{
    background-color: #FF1400;
    color: #ffffff;
}

.content{
    clear: both;
    display: flow-root;
}

.big-title{
    font-size: 5.2rem;
    width: 56%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.green{
    color: #24D50D;
}

.head-body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 43%;
    margin: 50px 0;
    word-spacing: 2px;
}

.startbtn{
    display: inline-block;
    text-decoration: none;
    background-color: #FF1400;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 20px 20px 20px 20px;
}

main{
    display: grid;
    row-gap: 100px;
}

section.fruit{
    display: flex;
    align-items: center;
    justify-content: center;
    .fruitdesc{
        width: 28%;
        margin-right: 150px;
    }
    .title-2{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .fruitdesc h2::before{
        display: inline-block;
        position: relative;
        content: '';
        height: 70px;
        width: 8px;
        background-color: #FF1400;
        top: 15px;
        margin: 0 10px 0 0;
    }
    div.fruitimg{
        display: inline;
        height: 600px;
        width: 600px;
        border-radius: 50%;
        box-shadow: 30px 15px 60px #0000002b ;
        background: center / cover no-repeat url('../img/home/50861.jpg');
    }
    .sec-p{
        margin: 50px 0;
        text-align: justify;
    }
    a.fruitbtn{
        text-decoration: none;
        background-color: transparent;
        border: solid #24D50D 2px;
        border-radius: 70px;
        color: #24D50D;
        padding: 5px 10px;
        text-align: center;
    }

    .vegdesc{
        width: 29%;
        margin-left: 150px;
    }
    div.vegimg{
        display: inline;
        height: 600px;
        width: 600px;
        border-radius: 50%;
        box-shadow: -30px 15px 60px #0000002b ;
        background: center / cover no-repeat url('../img/home/27734.jpg');
    }

}
