html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #fff;
}

header.header{
    margin: 5px 0px 0px 140px;
    padding-bottom: 20%;
}
.circle{
    background-color: #ff473649;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}
.big{
    width: 1080px;
    height: 1080px;
    top: -65%;
    right: -22%;
}
.medium{
    width: 150px;
    height: 150px;
    left: -50px;
    bottom: -75px;
}
.small{
    width: 50px;
    height: 50px;
    bottom: 20px;
    left: 150px;
}
svg#back{
    position: absolute;
    width: 40%;
    height: auto;
    background-color: transparent;
    top: 11%;
    right: 134px;
}

.logo{
    margin: 18px 0 0 0;
    font-size: 18px;
    float: left;
}
.logo::before{
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    padding: 0 2px;
    background: center / contain no-repeat url('/img/logo.svg');
}

nav ul {
    position: relative;
    float: right;
    margin: 20px -22px;
    /* right: -78%; */
    z-index: 3;
}
nav ul li{
    display: inline;
    font-weight: bold;
    text-decoration: none;   
}
nav ul li a{
    text-decoration: none;
    font-size: 14px;
    padding: 12px 35px; 
    margin: 0 16px;
    color: #000000;
}
nav ul li a:hover{
    background-color: #FF1400;
    color: #ffffff;
    cursor: pointer;
}

nav ul li a.active{
    background-color: #FF1400;
    color: #ffffff;
}

.content{
    clear: both;
    display: flow-root;
}

.big-title{
    font-size: 5.2rem;
    width: 56%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.green{
    color: #24D50D;
    font-size: 5.2rem;
}

.head-body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 43%;
    margin: 50px 0;
    word-spacing: 2px;
}

.startbtn{
    display: inline-block;
    text-decoration: none;
    background-color: #FF1400;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 20px 20px 20px 20px;
}

main{
    display: grid;
    row-gap: 100px;
}
.title-2{
    font-size: 50px;
    padding-bottom: 30px;
}
section.fruit{
    display: flex;
    align-items: center;
    justify-content: center;
    .fruitdesc{
        width: 28%;
        margin-right: 150px;
    }
    .fruitdesc h2::before{
        display: inline-block;
        position: relative;
        content: '';
        height: 70px;
        width: 8px;
        background-color: #FF1400;
        top: 15px;
        margin: 0 10px 0 0;
    }
    div.fruitimg{
        display: inline;
        height: 600px;
        width: 600px;
        border-radius: 50%;
        box-shadow: 30px 15px 60px #0000002b ;
        background: center / cover no-repeat url('../img/home/50861.jpg');
    }
    .sec-p{
        margin: 50px 0;
        text-align: justify;
    }
    a.fruitbtn{
        text-decoration: none;
        background-color: transparent;
        border: solid #24D50D 2px;
        border-radius: 70px;
        color: #24D50D;
        padding: 5px 10px;
        text-align: center;
    }
    a.fruitbtn:hover{
        background-color: #24D50D;
        color: #ffffff;
        font-weight: bold;
    }
    .vegdesc{
        width: 29%;
        margin-left: 150px;
    }
    div.vegimg{
        display: inline;
        height: 600px;
        width: 600px;
        border-radius: 50%;
        box-shadow: -30px 15px 60px #0000002b ;
        background: center / cover no-repeat url('../img/home/27734.jpg');
    }

}
.comp-body *{
    background-color: #F5F5F5;
}
section.company{
    align-items: center;
    padding-top: 50px;

    .title-2{
        text-align: center;
        background-color: #F5F5F5;
        padding-top: 20px;
    }
    .title-2::after{
        display: block;
        content: '';
        width: 20%;
        height: 8px;
        margin: auto;
        background-color: #24D50D;
        margin-top: 12px;
    }

    .comp-p{
        width: 29%;
        margin-top: 50px;
        text-align: justify;
        font-size: 20px;
    }

    .aigirl{
        position: relative;
        top: -109px;
        right: -38px;
        background-color: transparent;
    }
    div.comp-body{
        display: flex;
        justify-content: center;
        background-color: #F5F5F5;

        a{
            display: block;
            width: 100px;
            text-align: center;
            text-decoration: none;
            background-color: #24D50D;
            font-weight: bold;
            color: #fff;
            border-radius: 50px;
            padding: 8px 10px;
            margin-top: 40px;
        }
    }
    div.services{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-content: space-around;
        justify-content: center;
        margin: 0 40px;
        .serv{
            position: relative;
            top: -50px;
            display: block;
            width: 20%;
            box-shadow: 8px 5px 20px #0000002f;

            
            p{
                padding: 0 40px;
            }
        }
        div.down{
            display: block;
            background-color: #FF1400;
            padding-bottom: 50px;
            text-align: center;

            a{
                margin-top: 60px;
                background-color: #FF1400; 
                color: #fff;    
            }
        }
        .serv *{
            background-color: #F8BEB9;
            padding: 20px 0;
        }
        .serv h3{
            text-align: center;
        }
        .serv h3::before{
            display: block;
            content: '';
            width: 50px;
            height: 50px;
            margin: 0 auto;
            padding-bottom: 50px;
            
        }
        .s1, .s2, .s3, .s4{
            padding: 10px;
            text-align: justify;
        }
        .s1 h3::before{
            background: center / contain no-repeat url('/img/home/utensils_5074696.svg');
        }
        .s2 h3::before{
            background: center / contain no-repeat url('/img/home/medal_12616993.svg');
        }
        .s3 h3::before{
            background: center / contain no-repeat url('/img/home/flame_3916992.svg');
        }

        .s4 h3::before{
            background: center / contain no-repeat url('/img/home/lightbulb-exclamation_10469314.svg');
        }

    }

}
h2.title-2.diet{
    background-color: white;
}
section.company.diet{
    margin-bottom: 50px;
    div.plans{
        display: flex;
        justify-content: space-evenly;

        div.plan{
            padding: 20px;
            margin-top: 50px;
            border: transparent;
            border-radius: 15px;
            box-shadow: 2px 2px 20px #0000002f;

            *{
                margin: 10px;
            }
            h5{
               font-size: 30px; 
               color: #707070;
            }
            h3{
                font-family: Arial, Helvetica, sans-serif;
            }
            ul li{
                list-style: none;
            }
        }
    }
}

footer{
    padding: 20px;
}
footer, footer *{
    background-color: #c5c5c5;
    div.foot:first-of-type{
        padding-bottom: 20px;
    }
    div.foot{
        display: flex;
        justify-content: space-between;
        p{
            width: 20%;
        }
        h6::before{
            display: inline-block;
            content: '';
            width: 25px;
            height: 25px;
            padding: 0 2px;
            background: center / contain no-repeat url('/img/logo.svg');
        }
        ul li{
            display: inline;
            margin: 20px;
        }
        ul li a{
            text-decoration: none;
        }
    }
}